<h1><%= @employee.name %></h1>


<% if @employee.divisions.any? %>
  <h4>Here are the divisions for this employee:</h4>

  <% @employee.divisions.each do |division| %>
    <ul>
      <li>
        <%= link_to division.name, employee_division_path(@employee, division) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No divisions are listed for this employee.</p>
<% end %>

<p><%= link_to "Add a division", new_employee_division_path(@employee) %></p>

<p><%= link_to "Edit", edit_employee_path(@employee) %></p>
<p><%= link_to "Delete employee", employee_path(@employee),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to employees", employees_path %></p>
